<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Aristi Bingo</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- CSS only bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <!-- Vue js  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    
    <!-- svg.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.js"></script>    
    
    <!-- libreria para facilitar el manejo de cookies del lado del cliente   https://github.com/js-cookie/js-cookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

  </head>
  <body>

    <div id="app">
      
      <header>
        <h1> Jugador: {{nombre}} </h1>
      </header>
      <h2>
        Numero de carton: {{id}}
      </h2>
      <hr>
      <div class="container">
        <div class="row">
          
          <div class="col-lg-8 col-md-8 col-sm-12">
            <div id="carton_canvas">
              
            </div>
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-12"  style="stroke:'black'">
            XXXXXXXX
          </div>
          
        </div>
      </div>
      
    </div>
    
      
    
    
    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

  </body>
  
  <script src="main.js"></script>
  
  <!-- rutina que dibuja el cartom de bingo usando svg.js -->
    <script src="carton_svg.js"></script>
  
</html>
